
.contenedor{
  margin-top: 30px;
}

.carta{
  margin: 20px;
  padding:9px;
  background-color: white;
  border: 2px solid;
  position: relative;
  float: inline-start;
}
img{
  width: 400px;
  height: 350px;
}
